.Profile {
    position: relative;
    height: 300px;

    .container {
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0px;
    }
    
    .fancy {
        border-radius: 30% 70% 65% 35% / 30% 28% 72% 70% ;
        height: 180px;
        width: 350px;
        background: #fff;
        margin: 0 auto;
        padding-left: 15px;

        h1 {
            font-size: 20px;
            letter-spacing: 5px;
            padding: 35px 0 10px 5px;
        }

        p {
            font-size: 14px;
            letter-spacing: 1px;
            padding-left: 3px;
        }
    }
}


